# ---------------------------------
#     visual Studio Project default
# ---------------------------------
.vs/
*.sln

# ---------------------------------
#     Unity Project default folder
# ---------------------------------

Library/
Temp/
Logs/
obj/

# ---------------------------------
#     Untiy Project default file Format
# ---------------------------------


# ---------------------------------
#     other Format
# ---------------------------------
*.apk
WeChat/